<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe Form</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
<!--        {{ form.non_field_errors }}-->
<!--        {% for field in form %}-->
<!--        <div class="subscribe_field">-->
<!--            {{field.errors}}-->
<!--            <label for="{{ field.id_for_label }}">-->
<!--                {{ field.label }}-->
<!--            </label>-->
<!--            {{field}}-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--        <div class="subscribe_field">-->
<!--            {{ form.first_name.errors }}-->
<!--            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>-->
<!--            {{ form.first_name }}-->
<!--        </div>-->

<!--        <div class="subscribe_field">-->
<!--            {{ form.last_name.errors }}-->
<!--            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>-->
<!--            {{ form.last_name }}-->
<!--        </div>-->

<!--        <div class="subscribe_field">-->
<!--            {{ form.email.errors }}-->
<!--            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>-->
<!--            {{ form.email }}-->
<!--        </div>-->

        <input type="submit" value="Submit">
    </form>
</body>
</html>
